extends ../../layouts/_task-layout.pug

block frontmatter
  -
    const number = '01'
    const tasks = ["01", "02", "03", "04", "05", "06", "07"]

block append styles
  style.
    table {
      border-collapse: collapse;
      inline-size: 100%;
    }
    td,
    th {
      border: 1px solid #ccc;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even),
    thead tr {
      background-color: #eee;
    }
    @media (prefers-color-scheme: dark) {
      tr:nth-child(even),
      thead tr {
        background-color: #333;
      }
    }

block content
  p
    | Знайти суму, добуток та частку двох дійсних чисел. Результат вивести у
    | формі таблиці
  hr
  h2 Рішення:
  script.
    // Крок 0. Позначення величин
    // a : number
    // b : number
    // sum : number
    // product : number
    // quotient : number
    // Крок 1. Введення необхідних даних
    const a = parseFloat(prompt("Введіть значення числа a", "1"));
    const b = parseFloat(prompt("Введіть значення числа b", "1"));
    // Крок 2. Обчислення результатів
    const sum = a + b;
    const product = a * b;
    const quotient = a / b;
    // Крок 3. Виведення результатів
    document.write(`
    <p>Число a = ${a}; число b = ${b}.</p>
    <table>
    <thead>
    <tr>
    <th>Операція</th>
    <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Сума</td>
    <td>${sum.toFixed(2)}</td>
    </tr>
    <tr>
    <td>Добуток</td>
    <td>${product.toFixed(2)}</td>
    </tr>
    <tr>
    <td>Частка</td>
    <td>${quotient.toFixed(2)}</td>
    </tr>
    </tbody>
    </table>`);
